{%- comment -%} <div style="background: red;">
    {% for error in form.errors %}
      <div style="border:1px solid #000">
        {% if error == 'form' %}
          day là 1: {{ form.errors.messages[error] }}
          {% else %}
           day là 2: {{ form.errors.translated_fields[error] }} - {{ form.errors.messages[error] }}
        {% endif %}
      </div>
    {% endfor %}
  </div> {%- endcomment -%}
{%- if form.posted_successfully? -%}
    <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
  {%- elsif form.errors -%}
    <div class="form__message">
      <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
    </div>
    <ul class="form-status-list caption-large" role="list">
      <li>
        <a href="#ContactForm-email" class="link">
          {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
        </a>
      </li>
    </ul>
  {%- endif -%}